page-dungeon-detail {

  .dungeon-profile {
    width: 100%;
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;
    height: 250px;
  }

  .dungeon-detail {
    width: 100%;
    background: white;
    position: absolute;
  }

}
