page-dungeon-detail {

  .dungeon-profile {
    width: 100%;
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;
    height: 250px;
  }

  .dungeon-detail {
    width: 100%;
    background: white;
    position: absolute;
  }

  .title {
    font-size: 20px;
    font-weight: 300;
  }

  .value {
    font-size: 16px;
    font-weight: 500;
  }

}
