page-graphs {

  #menu-graphs ion-row{
    background-color: black;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    margin: 2px 0;
    height: 35px;
    font-size: 20px;
  }

}
