
<ion-header>
  <ion-navbar color="preto">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Dungeons
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list>
      <ion-item-sliding  *ngFor="let dungeon of (dungeons | async)?.reverse()">

        <ion-item (click)=viewDungeon(dungeon) [ngClass]="dungeon.active ?'running':'notRunning'">

          <ion-avatar item-start>
              <img [src]=dungeon.pic>
          </ion-avatar>

          <h2>{{ dungeon.name }}</h2>
          <p>{{ dungeon.difficulty }}</p>

          <div item-end text-center>
              <img  src="/assets/imgs/molho.png" width=30px height=30px [ngClass]="bunchOfKeysUnlocked(dungeon) ? 'bunchUnlocked' : 'bunchLocked'"/>
              <p *ngIf="dungeon.lastRaid && dungeon.lastRaid != 'none'">{{getBunchUnlockDate(dungeon)}}</p>

          </div>

          <button *ngIf = "dungeon.active" item-right ion-button color="primary" (click)="endRaid(dungeon)">
            <ion-icon name="checkbox-outline"></ion-icon>
          </button>

        </ion-item>

        <ion-item-options side="right">

          <button ion-button color="secondary" (click)="editDungeon(dungeon)">
            <ion-icon name="create"></ion-icon>
          </button>

          <button ion-button color="danger" (click)="removeDungeon(dungeon.key)">
            <ion-icon name="trash"></ion-icon>
          </button>

        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-fab bottom right>
      <button ion-fab color="primary" (click)="newDungeon()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>


</ion-content>
