page-dungeons {

  .running {
    background-color: #8af7a3;
  }

  .notRunning {
    background-color: white;
  }

  .bunchLocked {
    opacity: 0.1;

  }

  .bunchUnlocked {

    opacity: 1;

  }
}
