
<ion-header>
    <ion-navbar color="primary">
      <ion-title>
        {{title}}
      </ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content padding>


      <form [formGroup]="form">



          <ion-item>
            <ion-label stacked>Nome</ion-label>
            <ion-input type="text" formControlName="nome"></ion-input>
          </ion-item>

          <ion-item *ngIf="!form.controls.nome.valid && (form.controls.nome.dirty || form.controls.nome.touched)" color="danger">
            <div [hidden]="!form.controls.nome.errors.required">
              O campo é obrigatório
            </div>
          </ion-item>



          <ion-item>
            <ion-label stacked>Dia</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" formControlName="dia"></ion-datetime>
          </ion-item>

            <ion-item *ngIf="!form.controls.dia.valid && (form.controls.dia.dirty || form.controls.dia.touched)" color="danger">
              <div [hidden]="!form.controls.dia.errors.required">
                O campo é obrigatório
              </div>
            </ion-item>


            <ion-item>
              <ion-label stacked>Hora</ion-label>
              <ion-datetime displayFormat="H:m" formControlName="hora"></ion-datetime>
            </ion-item>


            <ion-item *ngIf="!form.controls.hora.valid && (form.controls.hora.dirty || form.controls.hora.touched)" color="danger">
              <div [hidden]="!form.controls.hora.errors.required">
                O campo é obrigatório
              </div>
            </ion-item>

            <ion-item>
              <ion-label stacked>Descrição</ion-label>
              <ion-input type="text" formControlName="descricao"></ion-input>
            </ion-item>

            <ion-item *ngIf="!form.controls.descricao.valid && (form.controls.descricao.dirty || form.controls.descricao.touched)" color="danger">
              <div [hidden]="!form.controls.descricao.errors.required">
                O campo é obrigatório
              </div>
            </ion-item>

          <div padding>
            <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">Salvar</button>
          </div>
        </form>
  </ion-content>
