<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <form [formGroup]="form">

      <ion-item>
        <ion-avatar item-start>
            <img [src]=img>
        </ion-avatar>
      </ion-item>

      <ion-item>
        <ion-label stacked>Nome</ion-label>
        <ion-input type="text" formControlName="nome"></ion-input>
      </ion-item>

      <ion-item *ngIf="!form.controls.nome.valid && (form.controls.nome.dirty || form.controls.nome.touched)" color="danger">
        <div [hidden]="!form.controls.nome.errors.required">
          O campo é obrigatório
        </div>
      </ion-item>

      <ion-item>
        <ion-label stacked>Categoria</ion-label>
        <ion-input type="text" formControlName="categoria"></ion-input>
      </ion-item>

      <ion-item *ngIf="!form.controls.categoria.valid && (form.controls.categoria.dirty || form.controls.categoria.touched)" color="danger">
        <div [hidden]="!form.controls.categoria.errors.required">
          O campo é obrigatório
        </div>
      </ion-item>

      <ion-item>
        <ion-label stacked>Preço</ion-label>
        <ion-input type="text" formControlName="preco"></ion-input>
      </ion-item>

      <ion-item *ngIf="!form.controls.preco.valid && (form.controls.preco.dirty || form.controls.preco.touched)" color="danger">
        <div [hidden]="!form.controls.preco.errors.required">
          O campo é obrigatório
        </div>
      </ion-item>

      <ion-item>
        <ion-label stacked>Unidade</ion-label>
        <ion-input type="text" formControlName="unidade"></ion-input>
      </ion-item>

      <ion-item *ngIf="!form.controls.unidade.valid && (form.controls.unidade.dirty || form.controls.unidade.touched)" color="danger">
        <div [hidden]="!form.controls.unidade.errors.required">
          O campo é obrigatório
        </div>
      </ion-item>

      <ion-item>
        <ion-label stacked>Imagem</ion-label>
        <ion-input type="text" formControlName="imagem"></ion-input>
      </ion-item>

      <ion-item *ngIf="!form.controls.imagem.valid && (form.controls.imagem.dirty || form.controls.imagem.touched)" color="danger">
        <div [hidden]="!form.controls.imagem.errors.required">
          O campo é obrigatório
        </div>
      </ion-item>

      <div padding>
        <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">Salvar</button>
      </div>
    </form>
</ion-content>
